<form action="/admin/entry/amend/title/{{entry.fields.ID}}/{{entry.id}}" method="post">

    <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="more-detail">Title of discovery</label>
        </h2>
        <input class="govuk-input" id="title_" name="title_" type="text" value="{{entry.fields.Name}}">
    </div>

    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="500">
                        <div class="govuk-form-group  {%if err%}govuk-form-group--error{% endif%}">
                            <h1 class="govuk-label-wrapper">
                                <label class="govuk-label govuk-label--l" for="purpose_">What is the purpose of your discovery?</label>
                            </h1>
                            <div id="purpose-hint" class="govuk-hint">Tell us the background to your discovery. For example, if it's part of a wider service or based on policy intent. This will help us to arrange a review panel with the most relevant experience</div>
                            {%if err%}
                            <p id="event-name-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> Enter a description
  </p>{% endif%}
                            <textarea class="govuk-textarea govuk-js-character-count  {%if err%} govuk-input--error{% endif%}" id="purpose_" name="purpose_" rows="5" aria-describedby="purpose-info purpose-hint">{{entry.fields.Description}}</textarea>
                        </div>
                        <div id="purpose-info" class="govuk-hint govuk-character-count__message">You can enter up to 500 characters</div>
                    </div>

    <div class="govuk-button-group">
        <button  name="action" class="govuk-button"  data-module="govuk-button">Save and return</button>
        <a href="/admin/entry/submission/{{entry.fields.ID}}" class="govuk-link">Cancel and return to submission</a>
    </div>

</form>


