{% extends "layouts/main.html" %}

{% block pageTitle %}
Do you have a delivery manager? – {{serviceName}} –  Book and manage a discovery peer review
{% endblock %}

{% set pageSection = "Request"%}

{% block beforeContent %}

    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
            <span class="govuk-phase-banner__text">
      This is a prototype – it is not a real service.
    </span>
        </p>
    </div>

    <a href="/sprint-3/request/sro" class="govuk-back-link">Back</a>

    {% endblock%}

    {% block content %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <form action="/sprint-3/request/product" method="get">

  <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="dm-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
      Do you have a delivery manager?
      </h1>
              </legend>
              <div id="dm-hint" class="govuk-hint">
      Select one option.
    </div>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="dm" name="dm" type="radio" value="Yes" data-aria-controls="conditional-dm" {{ checked('dm','Yes') }}>
                  <label class="govuk-label govuk-radios__label" for="dm">
          Yes
        </label>
                </div>
                 <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-dm">

                   <div class="govuk-form-group">
                       
                            <label class="govuk-label" for="dm-name">
      Name of the delivery manager
    </label>
                       

                        <input class="govuk-input" id="dm-name" name="dm-name" type="text" value={{data['dm-name']}}>
                    </div>

                </div>
           
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="dm-2" name="dm" type="radio" value="No" data-aria-controls="conditional-dm-2"  {{ checked('dm','No') }}>
                  <label class="govuk-label govuk-radios__label" for="dm-2">
          No
        </label>
                </div>
                    

              </div>
            </fieldset>
          </div>

                    <button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
                </form>

            </div>
        </div>

    {% endblock %}