<h2 class="govuk-heading-l">Provide available dates and times</h2>

<p>The team have selected the following weeks as suitable for their peer review:</p>

{% set weeks = entry.fields.RequestedWeeks | split(",")%}
<ul class="govuk-list">
    {% for item in weeks %}
        <li>week beginning {{ item }}</li>
    {% endfor %}
</ul>

<p>You should provide date and time options in these weeks.</p>

<p>If you provide dates outside the user's requested weeks, we'll assume no dates are available in the requested weeks.</p>

<form>

    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h3 class="govuk-fieldset__heading">
        Available date
      </h3>
            </legend>
            <div id="passport-issued-hint" class="govuk-hint">
      For example, 27 3 2023
    </div>
            <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                    </div>
                </div>
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                    </div>
                </div>
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                    </div>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h3 class="govuk-fieldset__heading">
        Available times
      </h3>
            </legend>
            <div id="waste-hint" class="govuk-hint">
      Select all that apply.
    </div>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                    <label class="govuk-label govuk-checkboxes__label" for="waste">
          10am to 12pm
        </label>
                </div>
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          1pm to 3pm
        </label>
                </div>

            </div>
        </fieldset>
    </div>

    <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
    Add to list of date options
  </button>
        <a class="govuk-link" href="/admin/entry/providedates/{{entry.fields.ID}}">Cancel</a>
    </div>

</form>