<h2 class="govuk-heading-l">Supporting artefacts</h2>

<p>You can add links to supporting artefacts for your peer review.</p>

{% if artefacts.length%}

    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Artefact</th>
                <th scope="col" class="govuk-table__header">Added on</th>
                <th scope="col" class="govuk-table__header">Added By</th>
                <th scope="col" class="govuk-table__header">Action</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            {% for a in artefacts %}
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                        <a href="{{a.fields.URL}}" target="_blank">{{a.fields.Name}}</a>
                    </th>
                    <td class="govuk-table__cell">{{a.fields.Created | date('D MMM YYYY')}}</td>
                    <td class="govuk-table__cell">{{a.fields.CreatedBy.name}}</td>
                    <td class="govuk-table__cell">
                        <a href="/manage/entry/amend/remove-artefact/{{entry.fields.ID}}/{{a.fields.ID}}">Remove</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>
        <a href="/manage/entry/amend/add-artefact//{{entry.fields.ID}}/{{entry.id}}">Add another link</a>
    </p>

{% else %}
    <div class="govuk-inset-text">
        <p>No links have been added</p>
        <p>
            <a href="/manage/entry/amend/add-artefact//{{entry.fields.ID}}/{{entry.id}}">Add link to artefact</a>
        </p>
    </div>

{% endif %}