<h2 class="govuk-heading-l">Supporting artefacts</h2>

<p>You can add links to supporting artefacts for your peer review.</p>
<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Artefacts</h2>
        <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
                <a class="govuk-link" href="/manage/entry/amend/add-artefact//{{entry.fields.ID}}/{{entry.id}}">
          Add artefact link<span class="govuk-visually-hidden"> to the review</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="govuk-summary-card__content">
{% if not artefacts.length %}

<p>No artefacts have been added.</p>

{% else %}

        <dl class="govuk-summary-list">

            {% for a in artefacts %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key"> <a href="{{a.fields.URL}}" target="_blank">{{a.fields.Name}}</a></dt>
                <dd class="govuk-summary-list__value">
                 Added by {{a.fields.CreatedBy.name}}
                </dd>
                <dd class="govuk-summary-list__actions">
                      <a href="/manage/entry/amend/remove-artefact/{{entry.fields.ID}}/{{a.fields.ID}}">Remove</a>
                </dd>
            </div>
            {% endfor %}
            
        </dl>
        {% endif%}
    </div>
</div>