<form action="/manage/entry/amend/bp/{{entry.fields.ID}}/{{entry.id}}" method="post">

                    <div class="govuk-form-group">
                        <h1 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--l" for="bp_">
      Business partner
    </label>
                        </h1>

                        <select class="govuk-select govuk-!-width-one-half auto" id="bp_" name="bp_">
                            {% include "_names.html" %}
                        </select>
                    </div>

    <div class="govuk-button-group">
        <button  name="action" class="govuk-button"  data-module="govuk-button">Save and return</button>
        <a href="/manage/entry/submission/{{entry.fields.ID}}" class="govuk-link">Cancel and return to submission</a>
    </div>

</form>

