<table class="dfeuk-table dfeuk-table-responsive dfeuk-table--smaller">
    <thead class="dfeuk-table__head">
        <tr class="dfeuk-table__row">
            <th scope="col" class="dfeuk-table__header">Service</th>
            <th scope="col" class="dfeuk-table__header">Requestor</th>
            <th scope="col" class="dfeuk-table__header">Portfolio</th>
            <th scope="col" class="dfeuk-table__header">Review date</th>
        </tr>
    </thead>
    <tbody class="dfeuk-table__body">
        {% for record in activerecords %}
            <tr class="dfeuk-table__row">
                <th scope="row" class="dfeuk-table__header">
                    <a href="/admin/entry/{{record.fields.ID}}">{{record.fields.Name}}</a>
                </th>
                <td class="dfeuk-table__cell">{{record.fields.RequestedBy}}</td>
                <td class="dfeuk-table__cell">{{record.fields.Portfolio}}</td>
                <td class="dfeuk-table__cell">{{record.fields.ReviewDate | date('ddd D MMM')}} </td>
            </tr>
        {% endfor %}
    </tbody>
</table>