{% extends "layouts/main.html" %}

{% block pageTitle %}
Manage – {{serviceName}} –  Book and manage a discovery peer review
{% endblock %}

{% set pageSection = "Admin"%}

{% block beforeContent %}

    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
            <span class="govuk-phase-banner__text">
      This is a prototype – it is not a real service.
    </span>
        </p>
    </div>

    {% endblock%}

    {% block content %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <span class="govuk-caption-xl">Service assessment team</span>
                <h1 class="govuk-heading-l">Dashboard</h1>
            </div>

            <div class="govuk-grid-column-two-thirds">

                <ul class="dfeuk-grid-row dfeuk-card-group">
                    <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">

                        <div class="dfeuk-card dfeuk-card--clickable">
                            <div class="dfeuk-card__content">
                                <p class="dfeuk-heading-xl dfeuk-u-font-size-64 dfeuk-u-margin-bottom-1">{{newrecords.length}}
                                    <span class="dfeuk-u-visually-hidden">New requests</span></p>
                                <a href="#" class="dfeuk-card__link dfeuk-u-font-weight-normal dfeuk-u-font-size-19 dfeuk-link--no-visited-state">New request{% if newrecords.length !== 1 %}s{% endif %}
                                </a>
                            </div>
                        </div>

                    </li>
                    <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">

                        <div class="dfeuk-card dfeuk-card--clickable">
                            <div class="dfeuk-card__content">
                                <p class="dfeuk-heading-xl dfeuk-u-font-size-64 dfeuk-u-margin-bottom-1">{{activerecords.length}}
                                    <span class="dfeuk-u-visually-hidden">Active requests</span></p>
                                <a href="#" class="dfeuk-card__link dfeuk-u-font-weight-normal dfeuk-u-font-size-19 dfeuk-link--no-visited-state">Active review{% if activerecords.length !== 1 %}s{% endif %}
                                </a>
                            </div>
                        </div>

                    </li>
                    <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">

                        <div class="dfeuk-card dfeuk-card--clickable">
                            <div class="dfeuk-card__content">
                                <p class="dfeuk-heading-xl dfeuk-u-font-size-64 dfeuk-u-margin-bottom-1">{{completedrecords.length}}
                                    <span class="dfeuk-u-visually-hidden">Completed requests</span></p>
                                <a href="#" class="dfeuk-card__link dfeuk-u-font-weight-normal dfeuk-u-font-size-19 dfeuk-link--no-visited-state">Completed review{% if completedrecords.length !== 1 %}s{% endif %}
                                </a>
                            </div>
                        </div>

                    </li>
                </ul>
 </div>
                   <div class="govuk-grid-column-one-third">

                    <aside class="govuk-related-navigation">

                        <h2 class="govuk-heading-m">More</h2>

                        <ul class="govuk-list govuk-list--spaced">
                            <li>
                                <a href="#">All reviews</a>
                            </li>
                            <li>
                                <a href="#">Rejected and cancelled requests</a>
                            </li>
                        </ul>

                    </div>

                

                 <div class="govuk-grid-column-two-thirds">

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible  govuk-!-margin-top-0">

                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">Upcoming peer reviews</h2>
                        <ul class="govuk-summary-card__actions"></div>
                        <div class="govuk-summary-card__content">

                            {% include "./_active.html" %}

                        </div>
                    </div>

                     <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                      <h1 class="govuk-heading-m">User satisfaction scores</h1>

                      <p>Cumulative satisfaction scores from 9 responses over the last 3 months. </p>

                    <ul class="dfeuk-grid-row dfeuk-card-group govuk-!-margin-bottom-0">
                        <li class="dfeuk-grid-column-one-quarter dfeuk-card-group__item">

                            <div class="dfeuk-card dfeuk-card--clickable">
                                <div class="dfeuk-card__content">
                                    <p class="dfeuk-heading-xl dfeuk-u-font-size-36 dfeuk-u-margin-bottom-1">98% <span class="dfeuk-u-visually-hidden">Booking</span></p>
                                    <a href="#" class="dfeuk-card__link dfeuk-u-font-weight-normal dfeuk-u-font-size-19 dfeuk-link--no-visited-state">Booking</a>
                                </div>
                            </div>

                        </li>
                        <li class="dfeuk-grid-column-one-quarter dfeuk-card-group__item">

                            <div class="dfeuk-card dfeuk-card--clickable">
                                <div class="dfeuk-card__content">
                                    <p class="dfeuk-heading-xl dfeuk-u-font-size-36 dfeuk-u-margin-bottom-1">83% <span class="dfeuk-u-visually-hidden">Review</span></p>
                                    <a href="#" class="dfeuk-card__link dfeuk-u-font-weight-normal dfeuk-u-font-size-19 dfeuk-link--no-visited-state">Review</a>
                                </div>
                            </div>

                        </li>
                        <li class="dfeuk-grid-column-one-quarter dfeuk-card-group__item">

                            <div class="dfeuk-card dfeuk-card--clickable">
                                <div class="dfeuk-card__content">
                                    <p class="dfeuk-heading-xl dfeuk-u-font-size-36 dfeuk-u-margin-bottom-1">96% <span class="dfeuk-u-visually-hidden">Guidance</span></p>
                                    <a href="#" class="dfeuk-card__link dfeuk-u-font-weight-normal dfeuk-u-font-size-19 dfeuk-link--no-visited-state">Guidance</a>
                                </div>
                            </div>

                        </li>
                        <li class="dfeuk-grid-column-one-quarter dfeuk-card-group__item">

                            <div class="dfeuk-card dfeuk-card--clickable">
                                <div class="dfeuk-card__content">
                                    <p class="dfeuk-heading-xl dfeuk-u-font-size-36 dfeuk-u-margin-bottom-1">100% <span class="dfeuk-u-visually-hidden">Support</span></p>
                                    <a href="#" class="dfeuk-card__link dfeuk-u-font-weight-normal dfeuk-u-font-size-19 dfeuk-link--no-visited-state">Support</a>
                                </div>
                            </div>

                        </li>
                    </ul>
                    <p><a href="">View all responses</a></p>
                </div>

                <div class="govuk-grid-column-one-third">

                    <aside class="govuk-related-navigation">

                         <h2 class="govuk-heading-m">Guidance</h2>

                        <ul class="govuk-list govuk-list--spaced">
                            <li>
                                <a href="#">Service assurance</a>
                            </li>
                            <li>
                                <a href="#">Service Standards in DfE</a>
                            </li>
                            <li>
                                <a href="#">UCD Manual</a>
                            </li>
                            <li>
                                <a href="#">User Research Manual</a>
                            </li>
                            <li>
                                <a href="#">Tech Manual</a>
                            </li>
                            <li>
                                <a href="#">Architecture Manual</a>
                            </li>
                        </ul>

                        <h2 class="govuk-heading-m">Assessors</h2>

                        <ul class="govuk-list govuk-list--spaced">
                            <li>
                                <a href="#">View assessors</a>
                            </li>
                            <li>
                                <a href="#">Add new assessor</a>
                            </li>
                            <li>
                                <a href="#">Assessor analysis</a>
                            </li>
                        </ul>

                    </div>

                </div>

            {% endblock %}