<table class="dfeuk-table dfeuk-table-responsive dfeuk-table--smaller">
    <thead class="dfeuk-table__head">
        <tr class="dfeuk-table__row">
            <th scope="col" class="dfeuk-table__header">Request</th>
            <th scope="col" class="dfeuk-table__header">Service</th>
            <th scope="col" class="dfeuk-table__header">Type</th>
            <th scope="col" class="dfeuk-table__header">Created</th>
        </tr>
    </thead>
    <tbody class="dfeuk-table__body">
        {% for record in draftrecords %}
            <tr class="dfeuk-table__row">
                <th scope="row" class="dfeuk-table__header">
                    <a href="/manage/draft/{{record.id}}">PR-{{record.fields.ID}}</a>
                </th>
                <td class="dfeuk-table__cell">{{record.fields.Name}}</td>
                <td class="dfeuk-table__cell">Discovery peer review</td>
                <td class="dfeuk-table__cell">{{today|date('D MMM YYYY')}}</td>
            </tr>
        {% endfor %}

    </tbody>
</table>