{% extends "layouts/main.html" %}

{% block pageTitle %}
Manage – {{serviceName}} –  Book and manage a discovery peer review
{% endblock %}

{% set pageSection = "Manage"%}

{% block beforeContent %}

    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
            <span class="govuk-phase-banner__text">
      This is a prototype – it is not a real service.
    </span>
        </p>
    </div>

    {% endblock%}

    {% block content %}

        <div class="govuk-grid-row">
            {# <div class="govuk-grid-column-one-quarter">
                <nav class="dfeuk-vertical-nav">
                    <ul class="dfeuk-vertical-nav__section">
                          <li class="dfeuk-vertical-nav__section-item  {%if type === "draft" %}dfeuk-vertical-nav__section-item--current{% endif %}">
                            <span class="dfeuk-vertical-nav--count">{{draftrecords.length}}</span>
                            <a class="dfeuk-vertical-nav__link " href="/manage/draft">Draft</a>
                        </li>
                        <li class="dfeuk-vertical-nav__section-item  {%if type === "new" %}dfeuk-vertical-nav__section-item--current{% endif %}">
                            <span class="dfeuk-vertical-nav--count">{{newrecords.length}}</span>
                            <a class="dfeuk-vertical-nav__link " href="/manage/new">New</a>
                        </li>
                        <li class="dfeuk-vertical-nav__section-item {%if type === "active" %}dfeuk-vertical-nav__section-item--current{% endif %}">
                            <span class="dfeuk-vertical-nav--count">{{activerecords.length}}</span>
                            <a class="dfeuk-vertical-nav__link " href="/manage/active">Active</a>
                        </li>

                        <li class="dfeuk-vertical-nav__section-item {%if type === "completed" %}dfeuk-vertical-nav__section-item--current{% endif %}">
                            <span class="dfeuk-vertical-nav--count">{{completedrecords.length}}</span>
                            <a class="dfeuk-vertical-nav__link " href="/manage/completed">Completed</a>
                        </li>

                        <li class="dfeuk-vertical-nav__section-item {%if type === "cancelled" %}dfeuk-vertical-nav__section-item--current{% endif %}">
                            <span class="dfeuk-vertical-nav--count">{{cancelledrecords.length}}</span>
                            <a class="dfeuk-vertical-nav__link " href="/manage/cancelled">Cancelled</a>
                        </li>

                        <li class="dfeuk-vertical-nav__section-item {%if type === "rejected" %}dfeuk-vertical-nav__section-item--current{% endif %}">
                            <span class="dfeuk-vertical-nav--count">{{rejectedrecords.length}}</span>
                            <a class="dfeuk-vertical-nav__link " href="/manage/rejected">Rejected</a>
                        </li>

                    </ul>
                </nav>
            </div>
            <div class="govuk-grid-column-three-quarters">

        
                <h1 class="govuk-heading-l">Your {{type}} bookings</h1>

                  {% if type === "draft" and draftrecords.length %}
                  <p>Select a draft to continue with booking a discovery peer review.</p>
                    {% include "./_draft.html" %}
                {% elseif type === "draft" and draftrecords.length === 0%}
                    <p>There are no draft requests.</p>
                {% endif %}

                {% if type === "new" and newrecords.length %}
                  <p>New bookings which are with the service assessment team to process.</p>
                    {% include "./_new.html" %}
                {% elseif type === "new" and newrecords.length === 0%}
                    <p>There are no new requests.</p>
                {% endif %}

                {% if type === "active" and activerecords.length %}
                    {% include "./_active.html" %}
                {% elseif type === "active" and activerecords.length === 0%}
                    <p>There are no active reviews.</p>
                {% endif %}

                {% if type === "completed" and completedrecords.length %}
                    {% include "./_completed.html" %}
                {% elseif type === "completed" and completedrecords.length === 0%}
                    <p>There are no completed reviews.</p>
                {% endif %}

                {% if type === "rejected" and rejectedrecords.length %}
                    {% include "./_rejected.html" %}
                {% elseif type === "rejected" and rejectedrecords.length === 0%}
                    <p>There are no rejected requests.</p>
                {% endif %}

                {% if type === "cancelled" and cancelledrecords.length %}
                    {% include "./_cancelled.html" %}
                {% elseif type === "cancelled" and cancelledrecords.length === 0%}
                    <p>There are no cancelled requests.</p>
                {% endif %}

            </div> #}

            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-l">Manage requests</h1>
            </div>

            <div class="govuk-grid-column-two-thirds">

                {% if draftrecords.length %}

                    <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">Your drafts</h2>
                        </div>
                        <div class="govuk-summary-card__content">
                            <p>Select a draft to continue submitting your request.</p>

                            <table class="dfeuk-table dfeuk-table-responsive dfeuk-table--smaller">
                                <thead class="dfeuk-table__head">
                                    <tr class="dfeuk-table__row">

                                        <th scope="col" class="dfeuk-table__header govuk-!-width-one-third">Service</th>
                                        <th scope="col" class="dfeuk-table__header">Type</th>
                                        <th scope="col" class="dfeuk-table__header">Started</th>
                                        <th scope="col" class="dfeuk-table__header">Last updated</th>
                                    </tr>
                                </thead>
                                <tbody class="dfeuk-table__body">
                                    {% for record in draftrecords %}
                                        <tr class="dfeuk-table__row">
                                            <th scope="row" class="dfeuk-table__header">
                                                <a href="/manage/draft/{{record.id}}">{{record.fields.Name}}</a>
                                            </th>
                                            <td class="dfeuk-table__cell">Discovery peer review</td>
                                            <td class="dfeuk-table__cell">{{record.fields.Created|date('D MMM YYYY')}}</td>
                                            <td class="dfeuk-table__cell">{{record.fields.LastModified|date('D MMM YYYY')}}</td>
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>

                        </div>
                    </div>

                {% endif %}

                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">Your requests</h2>
                    </div>
                    <div class="govuk-summary-card__content">

                         {% if newrecords.length or activerecords.length %}

                        <p>Manage details, people, and artefacts relating to your peer review.</p>
                        <table class="dfeuk-table dfeuk-table-responsive dfeuk-table--smaller">
                            <thead class="dfeuk-table__head">
                                <tr class="dfeuk-table__row">
                                    <th scope="col" class="dfeuk-table__header  govuk-!-width-one-third">Service</th>
                                    <th scope="col" class="dfeuk-table__header">Type</th>
                                    <th scope="col" class="dfeuk-table__header">Submitted</th>
                                    <th scope="col" class="dfeuk-table__header dfeuk-table__header--numeric">Status</th>
                                </tr>
                            </thead>
                            <tbody class="dfeuk-table__body">
                                {% for record in newrecords %}
                                    <tr class="dfeuk-table__row">
                                        <th scope="row" class="dfeuk-table__header">
                                            <a href="/manage/entry/{{record.fields.ID}}">{{record.fields.Name}}</a>
                                        </th>
                                        <td class="dfeuk-table__cell">Discovery peer review</td>
                                        <td class="dfeuk-table__cell">{{record.fields.Created|date('D MMM YYYY')}}</td>
                                        <td class="dfeuk-table__cell dfeuk-table__cell--numeric">
                                            <strong class="govuk-tag govuk-tag--{{record.fields.Status | lower}}">{{record.fields.Status}}</strong>
                                        </td>
                                    </tr>
                                {% endfor %}

                                {% for record in activerecords %}
                                    <tr class="dfeuk-table__row">
                                        <th scope="row" class="dfeuk-table__header">
                                            <a href="/manage/entry/{{record.fields.ID}}">{{record.fields.Name}}</a>
                                        </th>
                                        <td class="dfeuk-table__cell">Discovery peer review</td>
                                        <td class="dfeuk-table__cell">{{record.fields.Created|date('D MMM YYYY')}}</td>
                                        <td class="dfeuk-table__cell dfeuk-table__cell--numeric">
                                            <strong class="govuk-tag govuk-tag--green">{{record.fields.Status}}</strong>
                                        </td>
                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>

                        {% else %}


                        <p>No requests to manage.</p>

                           {% endif %}

                    </div>
                </div>
            </div>
            <div class="govuk-grid-column-one-third">
 <div class="dfeuk-card">
                    <div class="dfeuk-card__content">
                        <h2 class="dfeuk-card__heading dfeuk-heading-m">Understanding service assurance</h2>
                          <p class="dfeuk-card__description">When you need to assure your work and the governance processes you need to follow in DfE.</p>
                        <p>
                            <a href="https://dfe-standards-manual-prototype.herokuapp.com/service-assurance" target="_blank">Your assurance obligations<span class="govuk-visually-hidden"></span></a>
                        </p>
                    </div>
                </div>
                <div class="dfeuk-card">
                    <div class="dfeuk-card__content">
                        <h2 class="dfeuk-card__heading dfeuk-heading-m">Book a peer review</h2>
                        <p class="dfeuk-card__description">Use the new service to book a discovery peer review.</p>
                       
                            <a href="/book/" class="govuk-button" role="button">Book <span class="govuk-visually-hidden"> a discovery peer review </span>online </a>
                        
                    </div>
                </div>

               

                <hr class="govuk-section-break govuk-section-break--visible dfe-bar-thick govuk-!-margin-top-5 govuk-!-margin-bottom-5">
                <h3 class="govuk-heading-s">Additional guidance across DfE</h3>
                <ul class="govuk-list govuk-list--spaced">
                    <li>
                        <a href="https://apply-the-service-standard.education.gov.uk/" target="_blank">Apply the Service Standard in DfE</a>
                    </li>
                    <li>
                        <a href="https://user-research.education.gov.uk/" target="_blank">User Research in DfE</a>
                    </li>
                    <li>
                        <a href="https://technical-guidance.education.gov.uk/" target="_blank">DfE Technical Guidance</a>
                    </li>
                    <li>
                        <a href="https://dfe-digital.github.io/architecture/#dfe-architecture" target="_blank">DfE Architecture</a>
                    </li>
                </ul>
                <h3 class="govuk-heading-s">GOV.UK resources</h3>
                <ul class="govuk-list govuk-list--spaced">
                    <li>
                        <a href="https://design-system.service.gov.uk/" target="_blank">GOV.UK Design System</a>
                    </li>
                    <li>
                        <a href="https://www.gov.uk/service-manual" target="_blank">GOV.UK Service Manual</a>
                    </li>
                </ul>
            </div>

        </div>

    {% endblock %}