<table class="dfeuk-table dfeuk-table-responsive dfeuk-table--smaller">
    <thead class="dfeuk-table__head">
        <tr class="dfeuk-table__row">
            <th scope="col" class="dfeuk-table__header  dfeuk-!-width-one-quarter">Name</th>
            <th scope="col" class="dfeuk-table__header">Role</th>
            <th scope="col" class="dfeuk-table__header dfeuk-!-width-one-quarter">X-GOV Assessor</th>
        </tr>
    </thead>
    <tbody class="dfeuk-table__body">

        {% for person in people %}
            <tr class="dfeuk-table__row">
                <th scope="row" class="dfeuk-table__header">
                    <a href="">{{person.fields.Name}}</a>
                </th>            
                <td class="dfeuk-table__cell">{{person.fields.AssessorRole}}</td>
                <td class="dfeuk-table__cell">{{person.fields.CrossGovAssessor | BoolToYesNo}}</td>
            </tr>
        {% endfor %}

    </tbody>
</table>