{% extends "layouts/main.html" %}

{% block pageTitle %}
Add user – {{serviceName}} –  Book and manage a discovery peer review
{% endblock %}

{% set pageSection = "Settings"%}

{% block beforeContent %}



    {% endblock%}

    {% block content %}

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-three-quarters">

                <h1 class="govuk-heading-l">Add a person</h1>
                <form action="/settings/add-user" method="post">

                    <div class="govuk-form-group">
                        <legend class="govuk-fieldset__legend">
      Who are you adding?
    </legend>

                        <select class="govuk-select govuk-!-width-one-half auto" id="person" name="person">
                            {% include "_names.html" %}
                        </select>
                    </div>

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="userrole-hint">
                            <legend class="govuk-fieldset__legend">
      What roles should they have?
    </legend>
                            <div id="userrole-hint" class="govuk-hint">
      Select all that apply.
    </div>
                            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="userrole" name="userrole" type="checkbox" value="Administrator">
                                    <label class="govuk-label govuk-checkboxes__label" for="userrole">
          Administrator
        </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="userrole-2" name="userrole" type="checkbox" value="Lead assessor">
                                    <label class="govuk-label govuk-checkboxes__label" for="userrole-2">
          Lead assessor
        </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="userrole-3" name="userrole" type="checkbox" value="Assessor">
                                    <label class="govuk-label govuk-checkboxes__label" for="userrole-3">
          Assessor
        </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="userrole-4" name="userrole" type="checkbox" value="Junior assessor">
                                    <label class="govuk-label govuk-checkboxes__label" for="userrole-4">
          Junior assessor
        </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend">
      What profession are they an assessor for?
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="profession" name="profession" type="radio" value="Design">
        <label class="govuk-label govuk-radios__label" for="profession">
          Design
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="profession-2" name="profession" type="radio" value="User Research">
        <label class="govuk-label govuk-radios__label" for="profession-2">
          User research
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="profession-3" name="profession" type="radio" value="Product">
        <label class="govuk-label govuk-radios__label" for="profession-3">
          Product
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="profession-4" name="profession" type="radio" value="Delivery">
        <label class="govuk-label govuk-radios__label" for="profession-4">
          Delivery
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="profession-5" name="profession" type="radio" value="Operations">
        <label class="govuk-label govuk-radios__label" for="profession-5">
          Operations
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="profession-6" name="profession" type="radio" value="Technical">
        <label class="govuk-label govuk-radios__label" for="profession-6">
          Technical
        </label>
      </div>
    </div>
  </fieldset>
</div>

                    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="crossgov-hint">
    <legend class="govuk-fieldset__legend">
     Are they a cross-government assessor?
    </legend>
    <div id="crossgov-hint" class="govuk-hint">
      You can change this later if you are unsure
    </div>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="crossgov" name="crossgov" type="radio" value="true">
        <label class="govuk-label govuk-radios__label" for="crossgov">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="crossgov-2" name="crossgov" type="radio" value="false">
        <label class="govuk-label govuk-radios__label" for="crossgov-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

                    <div class="govuk-button-group">
                        <button class="govuk-button" data-module="govuk-button">Add person</button>
                        <a class="govuk-link" href="/settings">Cancel</a>
                    </div>
                </form>

            </div>
        </div>

    {% endblock %}

    {% block scripts %}
        {{ super() }}

        <script>
            accessibleAutocomplete.enhanceSelectElement({defaultValue: '{{ data["person"] }}', selectElement: document.querySelector('.auto')})
        </script>
    {% endblock %}