{% extends "layouts/main.html" %}

{% block pageTitle %}
Assessors – {{serviceName}} –  Book and manage a discovery peer review
{% endblock %}

{% set pageSection = "Settings"%}

{% block beforeContent %}

    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
            <span class="govuk-phase-banner__text">
      This is a prototype – it is not a real service.
    </span>
        </p>
    </div>

    {% endblock%}

    {% block content %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <nav class="dfeuk-vertical-nav">
                    <ul class="dfeuk-vertical-nav__section">
                            <li class="dfeuk-vertical-nav__section-item">
                            <a class="dfeuk-vertical-nav__link " href="/settings">Overview</a>
                        </li>
                        <li class="dfeuk-vertical-nav__section-item  dfeuk-vertical-nav__section-item--current">
                            <a class="dfeuk-vertical-nav__link " href="/settings/administrators">Administrators</a>
                        </li>
                        <li class="dfeuk-vertical-nav__section-item">
                            <a class="dfeuk-vertical-nav__link " href="/settings/lead">Lead assessors</a>
                        </li>
                        <li class="dfeuk-vertical-nav__section-item">
                            <a class="dfeuk-vertical-nav__link " href="/settings/assessors">Assessors</a>
                        </li>
                        <li class="dfeuk-vertical-nav__section-item">
                            <a class="dfeuk-vertical-nav__link " href="/settings/junior">Junior assessors</a>
                        </li>
                        <li class="dfeuk-vertical-nav__section-item">
                            <a class="dfeuk-vertical-nav__link " href="/settings/cross-gov">Cross-gov assessors</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="govuk-grid-column-three-quarters">

              
                        <h1 class="govuk-heading-l">Administrators</h1>

                 
                        <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
      What can administrators do?
    </span>
                            </summary>
                            <div class="govuk-details__text">
                                <p>Administrators can:</p>
                                <ul>
                                    <li>View and manage peer reviews and service assessments</li>
                                    <li>View, add, edit, and delete assessors</li>
                                    <li>View and manage settings for this service</li>
                                    <li>Primary administrators can add and remove other administrators</li>
                                    <li>Administrators cannot add or remove other administrators</li>
                            </div>
                        </details>
               

                <table class="dfeuk-table dfeuk-table-responsive dfeuk-table--smaller">
                    <thead class="dfeuk-table__head">
                        <tr class="dfeuk-table__row">
                            <th scope="col" class="dfeuk-table__header">Name</th>
                            <th scope="col" class="dfeuk-table__header">Job</th>
                            <th scope="col" class="dfeuk-table__header">Role</th>
                        </tr>
                    </thead>
                    <tbody class="dfeuk-table__body">

                        {% for person in people %}
 <tr class="dfeuk-table__row">
                            <th scope="row" class="dfeuk-table__header">
                                <a href="">{{person.fields.Name}}</a>
                            </th>
                            <td class="dfeuk-table__cell">{{person.fields.Job}}</td>
                            <td class="dfeuk-table__cell">{{person.fields.Role}}</td>
                        </tr>
                        {% endfor %}
                       
                       
                    </tbody>
                </table>

            </div>
        </div>

    {% endblock %}