{% extends "layouts/main.html" %}

{% block pageTitle %}
Settings – {{serviceName}} –  Book and manage a discovery peer review
{% endblock %}

{% set pageSection = "Settings"%}

{% block beforeContent %}

    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
            <span class="govuk-phase-banner__text">
      This is a prototype – it is not a real service.
    </span>
        </p>
    </div>

    {% endblock%}

    {% block content %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <nav class="dfeuk-vertical-nav">
                    <ul class="dfeuk-vertical-nav__section">
                        <li class="dfeuk-vertical-nav__section-item  dfeuk-vertical-nav__section-item--current">
                            <a class="dfeuk-vertical-nav__link " href="/sprint-3/settings">Overview</a>
                        </li>
                        <li class="dfeuk-vertical-nav__section-item">
                            <a class="dfeuk-vertical-nav__link " href="/sprint-3/settings/administrators">Administrators</a>
                        </li>
                        <li class="dfeuk-vertical-nav__section-item">
                            <a class="dfeuk-vertical-nav__link " href="/sprint-3/reporting/discovery">Lead assessors</a>
                        </li>
                        <li class="dfeuk-vertical-nav__section-item">
                            <a class="dfeuk-vertical-nav__link " href="/sprint-3/settings/assessors">Assessors</a>
                        </li>
                        <li class="dfeuk-vertical-nav__section-item">
                            <a class="dfeuk-vertical-nav__link " href="/sprint-3/reporting/alpha">Junior assessors</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="govuk-grid-column-three-quarters">

                <h1 class="govuk-heading-l">Settings</h1>

                <form action="/settings" method="get">

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                <h2 class="govuk-fieldset__heading">
        Use prototype as:
      </h2>
                            </legend>
                            <div class="govuk-radios govuk-radios--small  govuk-radios--inline" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="usertype" name="usertype" type="radio" value="admin" {{checked('usertype','admin')}}>
                                    <label class="govuk-label govuk-radios__label" for="usertype">
          Administrator
        </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="usertype-2" name="usertype" type="radio" value="team" {{checked('usertype','team')}}>
                                    <label class="govuk-label govuk-radios__label" for="usertype-2">
          Service team (default)
        </label>
                                </div>

                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="usertype-3" name="usertype" type="radio" value="reviewer" {{checked('usertype','reviewer')}}>
                                    <label class="govuk-label govuk-radios__label" for="usertype-3">
          Reviewer
        </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <button class="govuk-button" data-module="govuk-button">
  Save
</button>
            </form>

        </div>
    </div>

{% endblock %}