{% extends "layouts/main.html" %}

{% block pageTitle %}
Do you have a delivery manager? – {{serviceName}} –  Request and manage a discovery peer review
{% endblock %}

{% set pageSection = "Request"%}

{% block beforeContent %}

    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
            <span class="govuk-phase-banner__text">
      This is a prototype – it is not a real service.
    </span>
        </p>
    </div>

    <a href="/sprint-3/request/product" class="govuk-back-link">Back</a>

    {% endblock%}

    {% block content %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                 <h1 class="govuk-heading-l">Check your answers before submitting your request for a discovery peer review</h1>

                 <p>I know the dates below need to be in 18 June 2023 format and not 18 6 2023. I need to implement a filer to convert numbers to months</p>


                <form action="/sprint-3/request/product" method="get">

                    <dl class="govuk-summary-list">
                        
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Discovery name</dt>
                            <dd class="govuk-summary-list__value">{{data['title']}}</dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> discovery name</span></a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Summary</dt>
                            <dd class="govuk-summary-list__value">{{data['purpose']}}</dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> summary of discovery</span></a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Start date</dt>
                            <dd class="govuk-summary-list__value">{{data['disco-start-day']}} {{data['disco-start-month']}} {{data['disco-start-year']}}</dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> start date of discovery</span></a>
                            </dd>
                        </div>
                        
                     
                    </dl>

                    <button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
                </form>

            </div>
        </div>

    {% endblock %}