{% extends "layouts/main.html" %}

{% block pageTitle %}
admin – {{serviceName}} –  Book and admin a discovery peer review
{% endblock %}

{% set pageSection = "Manage"%}

{% block beforeContent %}

    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
            <span class="govuk-phase-banner__text">
      This is a prototype – it is not a real service.
    </span>
        </p>
    </div>

    {% endblock%}

    {% block content %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "./partials/_header.html" %}
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <nav class="dfeuk-vertical-nav">

                    {% if entry.fields.Status === "Complete"%}
                        <ul class="dfeuk-vertical-nav__section">

                            <li class="dfeuk-vertical-nav__section-item">
                                <a class="dfeuk-vertical-nav__link " href="/report/{{entry.fields.ID}}">View report</a>
                            </li>

                        </ul>

                        <h2 class="govuk-heading-m">Manage</h2>
                    {% endif %}

                    <ul class="dfeuk-vertical-nav__section">

                        {% if entry.fields.Status === "New"%}
                            <li class="dfeuk-vertical-nav__section-item {% if view === 'new' %}dfeuk-vertical-nav__section-item--current{% endif%}">
                                <a class="dfeuk-vertical-nav__link " href="/manage/entry/{{entry.fields.ID}}">Tasks</a>
                            </li>
                            <li class="dfeuk-vertical-nav__section-item {% if view === 'submission' or view === 'reject_reason' %}dfeuk-vertical-nav__section-item--current{% endif%}">
                                <a class="dfeuk-vertical-nav__link " href="/manage/entry/submission/{{entry.fields.ID}}">Submission</a>
                            </li>

                        {% else %}

                            <li class="dfeuk-vertical-nav__section-item {% if view === 'new' or view === 'providedates' or view === 'adddateoption' %}dfeuk-vertical-nav__section-item--current{% endif%}">
                                <a class="dfeuk-vertical-nav__link " href="/manage/entry/{{entry.fields.ID}}">Tasks</a>
                            </li>
                            <li class="dfeuk-vertical-nav__section-item {% if view === 'submission' %}dfeuk-vertical-nav__section-item--current{% endif%}">
                                <a class="dfeuk-vertical-nav__link " href="/manage/entry/submission/{{entry.fields.ID}}">Submission</a>
                            </li>
                            <li class="dfeuk-vertical-nav__section-item {% if view === 'team' %}dfeuk-vertical-nav__section-item--current{% endif%}">
                                <a class="dfeuk-vertical-nav__link " href="/manage/entry/team/{{entry.fields.ID}}">Discovery team</a>
                            </li>
                            <li class="dfeuk-vertical-nav__section-item {% if view === 'panel' %}dfeuk-vertical-nav__section-item--current{% endif%}">
                                <a class="dfeuk-vertical-nav__link " href="/manage/entry/panel/{{entry.fields.ID}}">Review panel</a>
                            </li>
                            <li class="dfeuk-vertical-nav__section-item {% if view === 'files' %}dfeuk-vertical-nav__section-item--current{% endif%}">
                              
                                <a class="dfeuk-vertical-nav__link " href="/manage/entry/files/{{entry.fields.ID}}">Supporting artefacts</a>
                            </li>
                            <li class="dfeuk-vertical-nav__section-item {% if view === 'review' or view === 'editoutcome' or view === 'editcomments' %}dfeuk-vertical-nav__section-item--current{% endif%}">
                                <a class="dfeuk-vertical-nav__link " href="/manage/entry/review/{{entry.fields.ID}}">Peer review</a>
                            </li>
                            <li class="dfeuk-vertical-nav__section-item {% if view === 'actions' %}dfeuk-vertical-nav__section-item--current{% endif%}">
                                <a class="dfeuk-vertical-nav__link " href="/manage/entry/actions/{{entry.fields.ID}}">Actions and history</a>
                            </li>

                        {% endif %}

                    </ul>
                </nav>
            </div>
            <div class="govuk-grid-column-three-quarters">

                {% include "./partials/_" + view + ".html" %}

            </div>
        </div>

    {% endblock %}