{% extends "layouts/main.html" %}

{% block pageTitle %}
Team – {{serviceName}} –  Request and manage a discovery peer review
{% endblock %}

{% set pageSection = "Manage"%}

{% block beforeContent %}

    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
            <span class="govuk-phase-banner__text">
      This is a prototype – it is not a real service.
    </span>
        </p>
    </div>

    

    {% endblock%}

    {% block content %}

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">

                <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
                    <span class="govuk-caption-l">Discovery peer review</span>School 4 day week</h1>

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-quarter">
                        <p class="govuk-body">
                            <span class="govuk-!-font-weight-bold">Reference</span><br/>12345</p>
                    </div>
                    <div class="govuk-grid-column-one-quarter">
                        <p class="govuk-body">
                            <span class="govuk-!-font-weight-bold">Requestor</span><br/>James Gunn</p>
                    </div>
                    <div class="govuk-grid-column-one-quarter">
                        <p class="govuk-body">
                            <span class="govuk-!-font-weight-bold">Review date</span><br/>No date selected</p>
                    </div>
                    <div class="govuk-grid-column-one-quarter">
                        <p class="govuk-body">
                            <span class="govuk-!-font-weight-bold">Status</span><br/>
                            <strong class="govuk-tag govuk-tag--grey">Pre-review</strong>
                        </p>
                    </div>
                </div>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            </div>

        </div>

             <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-quarter">
                <nav class="dfeuk-vertical-nav">
                    <ul class="dfeuk-vertical-nav__section">
                        <li class="dfeuk-vertical-nav__section-item">
                             <a class="dfeuk-vertical-nav__link " href="/sprint-3/manage/tasks/12345">Tasks</a>
                        </li>
                        <li class="dfeuk-vertical-nav__section-item">
                            <a class="dfeuk-vertical-nav__link " href="/sprint-3/manage/team/12345">Discovery team</a>
                        </li>
                        <li class="dfeuk-vertical-nav__section-item dfeuk-vertical-nav__section-item--current">
                            <a class="dfeuk-vertical-nav__link " href="/sprint-3/manage/panel/12345">Review panel</a>
                        </li>
                        <li class="dfeuk-vertical-nav__section-item">
                            <a class="dfeuk-vertical-nav__link " href="/sprint-3/manage/review/12345">Peer review</a>
                        </li>
                        <li class="dfeuk-vertical-nav__section-item">
                            
                             {% if artefacts.length%} <span class="dfeuk-vertical-nav--count">{{artefacts.length}}</span> {% endif %}
                            <a class="dfeuk-vertical-nav__link " href="/sprint-3/manage/files/12345">Supporting artefacts</a>
                        </li>
                        <li class="dfeuk-vertical-nav__section-item">
                            <a class="dfeuk-vertical-nav__link " href="/sprint-3/manage/actions/12345">Actions and history</a>
                        </li>
                    </ul>
                </nav>
            </div>
      <div class="govuk-grid-column-three-quarters">
                <h2 class="govuk-heading-m">Review panel</h2>
                <p class="govuk-body">Details of the panel of peer reviewers and any observers.</p>

             
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">Peer review panel</h2>
                    </div>
                    <div class="govuk-summary-card__content">


                          <form action="/sprint-3/manage/panel/edit-ur-panel/12345" method="post">

                    <div class="govuk-form-group">
                            <label class="govuk-label" for="ur-panel">Panel member for user research</label>

                             <select class="govuk-select govuk-!-width-one-half auto" id="ur-panel" name="ur-panel">
                            <option value="">Select a person</option>
                            <option value="Adam Taylor">Adam Taylor</option>
                            <option value="Alan Hearn">Alan Hearn</option>
                            <option value="Alun Davies">Alun Davies</option>
                            <option value="Amanda Moss">Amanda Moss</option>
                            <option value="Anwar Patel">Anwar Patel</option>
                            <option value="Anne Moss">Anne Moss</option>
                            <option value="Annette Ellison">Annette Ellison</option>
                            <option value="Anthony Platt">Anthony Platt</option>
                            <option value="Antonio Laporta">Antonio Laporta</option>
                            <option value="Ashley Fletcher">Ashley Fletcher</option>
                            <option value="Autum Foster">Autum Foster</option>
                            <option value="Barbara Moss">Barbara Moss</option>
                            <option value="Brian Ashworth">Brian Ashworth</option>
                            <option value="Bridget Hancock">Bridget Hancock</option>
                            <option value="Caroline Cornish">Caroline Cornish</option>
                            <option value="Caroline Wilkinson">Caroline Wilkinson</option>
                            <option value="Charles Foss">Charles Foss</option>
                            <option value="Charlotte Sankey">Charlotte Sankey</option>
                            <option value="Christopher Sandison">Christopher Sandison</option>
                            <option value="Christopher Stanley">Christopher Stanley</option>
                            <option value="Clara Becerra">Clara Becerra</option>
                            <option value="Claudia Jorgensen">Claudia Jorgensen</option>
                            <option value="Colin Loveridge">Colin Loveridge</option>
                            <option value="Craig Palmer">Craig Palmer</option>
                            <option value="David Cohen">David Cohen</option>
                            <option value="David Farquharson">David Farquharson</option>
                            <option value="David Hanley">David Hanley</option>
                            <option value="Dean Gaston">Dean Gaston</option>
                            <option value="Deirdre Thornton">Deirdre Thornton</option>
                            <option value="Derek Chapman">Derek Chapman</option>
                            <option value="Devin Keer">Devin Keer</option>
                            <option value="Diana Ward">Diana Ward</option>
                            <option value="Donal McCormack">Donal McCormack</option>
                            <option value="Gary Douglas">Gary Douglas</option>
                            <option value="Gary Lyon">Gary Lyon</option>
                            <option value="Gillian Brame">Gillian Brame</option>
                            <option value="Graham Bury">Graham Bury</option>
                            <option value="Hatem Sider">Hatem Sider</option>
                            <option value="Hugh Richards">Hugh Richards</option>
                            <option value="Iain Thomson">Iain Thomson</option>
                            <option value="Ian Sinclair">Ian Sinclair</option>
                            <option value="Jamal Shaikh">Jamal Shaikh</option>
                            <option value="James Thomas">James Thomas</option>
                            <option value="Jan Franklin">Jan Franklin</option>
                            <option value="Jane Jarvis">Jane Jarvis</option>
                            <option value="Jason Robinson">Jason Robinson</option>
                            <option value="Jay Williams">Jay Williams</option>
                            <option value="Jeanette Dodd">Jeanette Dodd</option>
                            <option value="Joan Vance">Joan Vance</option>
                            <option value="Joanna Braxton">Joanna Braxton</option>
                            <option value="John Farnham">John Farnham</option>
                            <option value="John Pankhurst">John Pankhurst</option>
                            <option value="John Poland">John Poland</option>
                            <option value="John Walsh">John Walsh</option>
                            <option value="Joseph Martinez">Joseph Martinez</option>
                            <option value="Julie Walker">Julie Walker</option>
                            <option value="Kathleen Forman">Kathleen Forman</option>
                            <option value="Katrina Anderson">Katrina Anderson</option>
                            <option value="Krzysztof Krawczyk">Krzysztof Krawczyk</option>
                            <option value="Leigh Maydew">Leigh Maydew</option>
                            <option value="Linda Dann">Linda Dann</option>
                            <option value="Linsay Wong">Linsay Wong</option>
                            <option value="Louise Davis">Louise Davis</option>
                            <option value="Lucy Starr">Lucy Starr</option>
                            <option value="Margaret Willis">Margaret Willis</option>
                            <option value="Marion Hopkins">Marion Hopkins</option>
                            <option value="Matthew Burrows">Matthew Burrows</option>
                            <option value="Max Adams">Max Adams</option>
                            <option value="Michael Greener">Michael Greener</option>
                            <option value="Musa Rufus">Musa Rufus</option>
                            <option value="Namreta Dutt">Namreta Dutt</option>
                            <option value="Neill Stokes">Neill Stokes</option>
                            <option value="Nicholas Barnes">Nicholas Barnes</option>
                            <option value="Nick Russell">Nick Russell</option>
                            <option value="Paul Rose">Paul Rose</option>
                            <option value="Peter Roche">Peter Roche</option>
                            <option value="Raj Kumar">Raj Kumar</option>
                            <option value="Rakesh Singh">Rakesh Singh</option>
                            <option value="Ran Ree">Ran Ree</option>
                            <option value="Ray Hirst">Ray Hirst</option>
                            <option value="Raymond Wall">Raymond Wall</option>
                            <option value="Richard Evans">Richard Evans</option>
                            <option value="Richard Gillett">Richard Gillett</option>
                            <option value="Richard Lye">Richard Lye</option>
                            <option value="Robbie Lord">Robbie Lord</option>
                            <option value="Robert Finch">Robert Finch</option>
                            <option value="Robin Mellor">Robin Mellor</option>
                            <option value="Roger Hood">Roger Hood</option>
                            <option value="Sen Li">Sen Li</option>
                            <option value="Spencer Davis">Spencer Davis</option>
                            <option value="Steve Challoner">Steve Challoner</option>
                            <option value="Steven Brooks">Steven Brooks</option>
                            <option value="Steven Guthrie">Steven Guthrie</option>
                            <option value="Susan Kenyon">Susan Kenyon</option>
                            <option value="Terasa Shaw">Terasa Shaw</option>
                            <option value="Thomas Hopkins">Thomas Hopkins</option>
                            <option value="Timothy Hudson">Timothy Hudson</option>
                            <option value="Tracey Graham">Tracey Graham</option>
                            <option value="Vivien Pickup">Vivien Pickup</option>
                            <option value="William Blake">William Blake</option>
                            <option value="Xi Pen">Xi Pen</option>
                        </select>
                    </div>

  <div class="govuk-button-group">
                                <button class="govuk-button" data-module="govuk-button">
    Save
  </button>
                                <a class="govuk-link" href="/sprint-3/manage/panel/12345">Cancel</a>
                            </div>
                </form>



                        <dl class="govuk-summary-list">
                           
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Design</dt>
                                <dd class="govuk-summary-list__value">Andy Jones </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> design</span></a>
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>

                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">Observers</h2>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Observer 1</dt>
                                <dd class="govuk-summary-list__value">
                                    <strong class="govuk-tag govuk-tag--grey">Not assigned</strong>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> observer 1</span></a>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Observer 2</dt>
                                <dd class="govuk-summary-list__value">
                                    <strong class="govuk-tag govuk-tag--grey">Not assigned</strong>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> observer 2</span></a>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Observer 3</dt>
                                <dd class="govuk-summary-list__value">
                                    <strong class="govuk-tag govuk-tag--grey">Not assigned</strong>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> observer 3</span></a>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Observer 4</dt>
                                <dd class="govuk-summary-list__value">
                                    <strong class="govuk-tag govuk-tag--grey">Not assigned</strong>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> observer 4</span></a>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Observer 5</dt>
                                <dd class="govuk-summary-list__value">
                                    <strong class="govuk-tag govuk-tag--grey">Not assigned</strong>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> observer 5</span></a>
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>

            </div>
        </div>

    {% endblock %}


        {% block scripts %}
  {{ super() }}
  
  <script>
            accessibleAutocomplete.enhanceSelectElement({defaultValue: '{{ data["ur-panel"] }}', selectElement: document.querySelector('.auto')})
        </script>
{% endblock %}