{% extends "layouts/main.html" %}

{% block pageTitle %}
Who is your business partner?– {{serviceName}} –  Book and manage a discovery peer review
{% endblock %}

{% set pageSection = "Request"%}

{% block beforeContent %}

    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
            <span class="govuk-phase-banner__text">
      This is a prototype – it is not a real service.
    </span>
        </p>
    </div>

    <a href="/sprint-3/request/portfolio" class="govuk-back-link">Back</a>

    {% endblock%}

    {% block content %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <form action="/sprint-3/request/dd" method="get">

                    <div class="govuk-form-group">
                        <h1 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--l" for="bp">
      Who is your business partner?
    </label>
                        </h1>

                        <input class="govuk-input" id="bp" name="bp" type="text" value={{data['bp']}}>
                    </div>

                    <button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
                </form>

            </div>
        </div>

    {% endblock %}