{% extends "layouts/main.html" %}

{% block pageTitle %}
Files – {{serviceName}} –  Request and manage a discovery peer review
{% endblock %}

{% set pageSection = "Manage"%}

{% block beforeContent %}

    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
            <span class="govuk-phase-banner__text">
      This is a prototype – it is not a real service.
    </span>
        </p>
    </div>

    {% endblock%}

    {% block content %}

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">

                <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
                    <span class="govuk-caption-l">Discovery peer review</span>School 4 day week</h1>

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-quarter">
                        <p class="govuk-body">
                            <span class="govuk-!-font-weight-bold">Reference</span><br/>12345</p>
                    </div>
                    <div class="govuk-grid-column-one-quarter">
                        <p class="govuk-body">
                            <span class="govuk-!-font-weight-bold">Requestor</span><br/>James Gunn</p>
                    </div>
                    <div class="govuk-grid-column-one-quarter">
                        <p class="govuk-body">
                            <span class="govuk-!-font-weight-bold">Review date</span><br/>No date selected</p>
                    </div>
                    <div class="govuk-grid-column-one-quarter">
                        <p class="govuk-body">
                            <span class="govuk-!-font-weight-bold">Status</span><br/>
                            <strong class="govuk-tag govuk-tag--blue">Panel review</strong>
                        </p>
                    </div>
                </div>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            </div>

        </div>

        <div class="govuk-grid-row">
                       <div class="govuk-grid-column-one-quarter">
                <nav class="dfeuk-vertical-nav">
                    <ul class="dfeuk-vertical-nav__section">
                        <li class="dfeuk-vertical-nav__section-item">
                            <a class="dfeuk-vertical-nav__link " href="/sprint-3/new/12345-2">Tasks</a>
                        </li>
                        <li class="dfeuk-vertical-nav__section-item">
                            <a class="dfeuk-vertical-nav__link " href="/sprint-3/manage/team/12345">Team and review panel</a>
                        </li>
                        <li class="dfeuk-vertical-nav__section-item dfeuk-vertical-nav__section-item--current">
                            <a class="dfeuk-vertical-nav__link " href="/sprint-3/manage/review/12345">Peer review</a>
                        </li>
                        <li class="dfeuk-vertical-nav__section-item">

                            {% if artefacts.length%}
                                <span class="dfeuk-vertical-nav--count">{{artefacts.length}}</span>
                            {% endif %}
                            <a class="dfeuk-vertical-nav__link " href="/sprint-3/manage/files/12345">Supporting artefacts</a>
                        </li>
                        <li class="dfeuk-vertical-nav__section-item">
                            <a class="dfeuk-vertical-nav__link " href="/sprint-3/manage/actions/12345">Actions and history</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="govuk-grid-column-three-quarters">

                <h2 class="govuk-heading-m">Peer review</h2>
                <p class="govuk-body">Details of the peer review findings and recommendations from the panel.</p>

                <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Important</h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <p class="govuk-notification-banner__heading">Panel has completed all sections of the report.</p>
                        <p>When you're ready, you can submit the report to the Service Assessment Team to check and for it to be sent to the service team.</p>
                        <form action="/sprint-3/manage/review/submitted" method="get">
                            <button class="govuk-button" data-module="govuk-button">Submit report</button>
                            </form>
                    </div>
                </div>

                 <div class="govuk-summary-card" id="outcome">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">Panel outcome</h2>
                        <ul class="govuk-summary-card__actions">
                            <li class="govuk-summary-card__action">
                                 <a class="govuk-link" href="/sprint-3/manage/review/edit-outcome/12345/#outcome">
          Edit<span class="govuk-visually-hidden"> outcome</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="govuk-summary-card__content">
                        <p>The panel have given this discovery a <strong class="dfeuk-tag dfeuk-tag--{{data['outcome-rag'] | lower}}">{{data['outcome-rag' | lower]}}</strong> status.</p>
                       
                    </div>
                </div>

              

                <div class="govuk-summary-card" id="comments">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">Panel comments</h2>
                        <ul class="govuk-summary-card__actions">
                            <li class="govuk-summary-card__action">
                                <a class="govuk-link" href="/sprint-3/manage/review/edit-comments/12345/#comments">
          Edit<span class="govuk-visually-hidden"> summary</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="govuk-summary-card__content">
                        {% if data['review-comments']%}
                            <p style="white-space: pre-wrap;">{{data['review-comments'] | safe}}</p>
                            {% else%}
                            <p>This is meaningless 4-blocker root-and-branch review, for staff engagement i need to pee and then go to another meeting make it more corporate please.</p>
                            <p>Big data usabiltiy. Out of scope turn the crank we need more paper. Conversational content incentivize adoption drink from the firehose ping me, let's take this conversation offline, or tread it daily.</p>
                            <p>Three-martini lunch vertical integration work identify pain points productize. Diversify kpis what's the status on the deliverables for eow?, or can I just chime in on that one, nor five-year strategic plan parallel path make it a priority but what's the real problem we're trying to solve here?.</p>

                        {% endif %}
                    </div>
                </div>

                <div class="govuk-summary-card" id="done-well">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">What the team has done well</h2>
                        <ul class="govuk-summary-card__actions">
                            <li class="govuk-summary-card__action">
                                <a class="govuk-link" href="/sprint-3/manage/review/edit-done-well/12345/#done-well">
          Edit<span class="govuk-visually-hidden"> summary</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="govuk-summary-card__content">
                        {% if data['review-done-well']%}
                            <p style="white-space: pre-wrap;">{{data['review-done-well'] | safe}}</p>
                            {% else%}
                            <p>This is meaningless 4-blocker root-and-branch review, for staff engagement i need to pee and then go to another meeting make it more corporate please.</p>
                            <p>Big data usabiltiy. Out of scope turn the crank we need more paper. Conversational content incentivize adoption drink from the firehose ping me, let's take this conversation offline, or tread it daily.</p>
                            <p>Three-martini lunch vertical integration work identify pain points productize. Diversify kpis what's the status on the deliverables for eow?, or can I just chime in on that one, nor five-year strategic plan parallel path make it a priority but what's the real problem we're trying to solve here?.</p>

                        {% endif %}
                    </div>
                </div>

                <div class="govuk-summary-card" id="improve">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">What the team can improve</h2>
                        <ul class="govuk-summary-card__actions">
                            <li class="govuk-summary-card__action">
                                <a class="govuk-link" href="/sprint-3/manage/review/edit-improve/12345/#improve">
          Edit<span class="govuk-visually-hidden"> summary</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="govuk-summary-card__content">
                        {% if data['review-improve']%}
                            <p style="white-space: pre-wrap;">{{data['review-improve'] | safe}}</p>
                            {% else%}
                            <p>This is meaningless 4-blocker root-and-branch review, for staff engagement i need to pee and then go to another meeting make it more corporate please.</p>
                            <p>Big data usabiltiy. Out of scope turn the crank we need more paper. Conversational content incentivize adoption drink from the firehose ping me, let's take this conversation offline, or tread it daily.</p>
                            <p>Three-martini lunch vertical integration work identify pain points productize. Diversify kpis what's the status on the deliverables for eow?, or can I just chime in on that one, nor five-year strategic plan parallel path make it a priority but what's the real problem we're trying to solve here?.</p>

                        {% endif %}
                    </div>
                </div>

            </div>
        </div>

    {% endblock %}