{% extends "layouts/main.html" %}

{% block pageTitle %}
Draft – {{serviceName}} –  Request and manage a discovery peer review
{% endblock %}

{% set pageSection = "Manage"%}

{% block beforeContent %}



    {% endblock%}

    {% block content %}

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                <div class="govuk-panel govuk-!-margin-bottom-5 govuk-panel--confirmation govuk-!-text-align-left">
                    <h1 class="govuk-panel__title">Draft deleted</h1>
                </div>
                <a href="/sprint-3/manage/">Return to manage your requests</a>
            </div>

        </div>

    {% endblock %}