{% extends "layouts/main.html" %}

{% block pageTitle %}
Deputy Director – {{serviceName}} –  Book and manage a discovery peer review
{% endblock %}

{% set pageSection = "Book"%}

{% block beforeContent %}

    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
            <span class="govuk-phase-banner__text">
      This is a prototype – it is not a real service.
    </span>
        </p>
    </div>

    <a href="/book/portfolio" class="govuk-back-link">Back</a>

    {% endblock%}

    {% block content %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                  {% if err %}

                    <div class="govuk-error-summary" data-module="govuk-error-summary">
                        <div role="alert">
                            <h2 class="govuk-error-summary__title">There is a problem</h2>
                            <div class="govuk-error-summary__body">
                                <ul class="govuk-list govuk-error-summary__list">
                                    <li>
                                        <a href="#dd">Select a name</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                {% endif %}

                <form action="/book/dd" method="post">

                   <div class="govuk-form-group {%if err%}govuk-form-group--error{% endif%}">
                        <h1 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--l" for="dd">
      Who is the deputy director of your portfolio?
    </label>
                        </h1>
 {%if err%}
                            <p id="event-name-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span>Select a name
  </p>{% endif%}
                        <select class="govuk-select govuk-!-width-one-half auto  {%if err%} govuk-input--error{% endif%}" id="dd" name="dd">
                            {% include "_names.html" %}
                        </select>
                    </div>

                    <button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
                </form>

            </div>
        </div>

    {% endblock %}

    {% block scripts %}
        {{ super() }}

        <script>
            accessibleAutocomplete.enhanceSelectElement({defaultValue: '{{ data["dd"] }}', selectElement: document.querySelector('.auto')})
        </script>
    {% endblock %}