{% extends "layouts/main.html" %}

{% block pageTitle %}
Request submitted – {{serviceName}} –  Request and manage a discovery peer review
{% endblock %}

{% set pageSection = "Request"%}

{% block beforeContent %}

    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
            <span class="govuk-phase-banner__text">
      This is a prototype – it is not a real service.
    </span>
        </p>
    </div>

    {% endblock%}

    {% block content %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <div class="govuk-panel govuk-!-margin-bottom-5 govuk-panel--confirmation govuk-!-text-align-left">
                    <h1 class="govuk-panel__title">Request submitted</h1>
                    <div class="govuk-panel__body">
                        We've got your request for a discovery peer review for <span class="govuk-!-font-weight-bold">{{data['title']}}</span>
                    </div>
                </div>

                <p>An email has been sent to you confirming the details of your request. You'll also be able to find this on the <a href="/my-requests/">My requests</a> page.</p>

                <h2 class="govuk-heading-l">What happens next</h2>
                <div class="dfeuk-timeline">
                    <ol>
                        <li>
                            <h3 class="govuk-heading-m">The Service Assurance Team will review the request</h3>
                            <p>They'll check it's not a duplicate, and assign relevant spend control information to the request.</p>
                        </li>
                        <li>
                            <h3 class="govuk-heading-m">If accepted</h3>
                            <p>You'll get an email with a link to your request to select a date for the review to take place.</p>
                            <p>Once you've selected a date, the Service Assurance Team will get together a peer review panel.</p>
                            <p>You can view the overall progress of your request in this service on the <a href="/my-requests/">My requests</a> page.</p>
                            <p>You will get emails asking you to provide additional information nearer to the peer review, such as links to any presentations or artefacts to support the peer review process.</p>
                        </li>
                        <li>
                            <h3 class="govuk-heading-m">If rejected</h3>
                            <p>You'll get an email giving details of why it's been rejected. This could be because it's a duplicate request or a peer review may not be appropriate.</p>
                            <p>You'll be told of any next steps or what action to take.</p>
                        </li>
                    </ol>
                </div>

            </div>
        </div>

    {% endblock %}