{% extends "layouts/main.html" %}

{% block pageTitle %}
Manage – {{serviceName}} –  Book and manage a discovery peer review
{% endblock %}

{% set pageSection = "Manage"%}

{% block beforeContent %}

    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
            <span class="govuk-phase-banner__text">
      This is a prototype – it is not a real service.
    </span>
        </p>
    </div>

    {% endblock%}

    {% block content %}

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">

                <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
                    <span class="govuk-caption-l">Discovery peer review</span>School 4 day week</h1>

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-quarter">
                        <p class="govuk-body">
                            <span class="govuk-!-font-weight-bold">Reference</span><br/>12345</p>
                    </div>
                    <div class="govuk-grid-column-one-quarter">
                        <p class="govuk-body">
                            <span class="govuk-!-font-weight-bold">Booked by</span><br/>James Gunn</p>
                    </div>
                    <div class="govuk-grid-column-one-quarter">
                        <p class="govuk-body">
                            <span class="govuk-!-font-weight-bold">Review date</span><br/>No date selected</p>
                    </div>
                    <div class="govuk-grid-column-one-quarter">
                        <p class="govuk-body">
                            <span class="govuk-!-font-weight-bold">Status</span><br/>
                            <strong class="govuk-tag govuk-tag--grey">Pre-review</strong>
                        </p>
                    </div>
                </div>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            </div>

        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <nav class="dfeuk-vertical-nav">
                    <ul class="dfeuk-vertical-nav__section">
                    <li class="dfeuk-vertical-nav__section-item  dfeuk-vertical-nav__section-item--current">
                            <a class="dfeuk-vertical-nav__link " href="/sprint-3/new/12345-2">Tasks</a>
                        </li>
                        <li class="dfeuk-vertical-nav__section-item">
                            <a class="dfeuk-vertical-nav__link " href="/sprint-3/manage/team/12345">Team and reviewers</a>
                        </li>
                        <li class="dfeuk-vertical-nav__section-item">
                            <a class="dfeuk-vertical-nav__link " href="/sprint-3/manage/review/12345">Peer review</a>
                        </li>
                        <li class="dfeuk-vertical-nav__section-item">
                            
                             {% if artefacts.length%} <span class="dfeuk-vertical-nav--count">{{artefacts.length}}</span> {% endif %}
                            <a class="dfeuk-vertical-nav__link " href="/sprint-3/manage/files/12345">Supporting artefacts</a>
                        </li>
                        <li class="dfeuk-vertical-nav__section-item">
                            <a class="dfeuk-vertical-nav__link " href="/sprint-3/manage/actions/12345">Actions and history</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="govuk-grid-column-three-quarters">


                <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-table__caption--m">Tasks</caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Task</th>
                            <th scope="col" class="govuk-table__header">Assigned to</th>
                            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Status</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><a href="">Check request</a></th>
                            <td class="govuk-table__cell">Service Assurance Team</td>
                            <td class="govuk-table__cell govuk-table__header--numeric"><strong class="govuk-tag govuk-tag--green">Complete</strong></td>
                        </tr>
                         <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><a href="">IT Project Code assignment</a></th>
                            <td class="govuk-table__cell">Service Assurance Team</td>
                            <td class="govuk-table__cell govuk-table__header--numeric"><strong class="govuk-tag govuk-tag--green">Complete</strong></td>
                        </tr>
                         <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><a href="">Provide date options</a></th>
                            <td class="govuk-table__cell">Service Assurance Team</td>
                            <td class="govuk-table__cell govuk-table__header--numeric"><strong class="govuk-tag govuk-tag--green">Complete</strong></td>
                        </tr>
                         <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><a href="">Select date for review</a></th>
                            <td class="govuk-table__cell">James Gunn</td>
                            <td class="govuk-table__cell govuk-table__header--numeric"><strong class="govuk-tag govuk-tag--blue">In progress</strong></td>
                        </tr>
                         <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><a href="">Update details of the service team</a></th>
                            <td class="govuk-table__cell">James Gunn</td>
                            <td class="govuk-table__cell govuk-table__header--numeric"><strong class="govuk-tag govuk-tag--blue">In progress</strong></td>
                        </tr>
                         <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><a href="">Request panel volunteers</a></th>
                             <td class="govuk-table__cell">Service Assurance Team</td>
                            <td class="govuk-table__cell govuk-table__header--numeric"><strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong></td>
                        </tr>
                         <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><a href="">Provide artefacts and links</a></th>
                             <td class="govuk-table__cell">James Gunn</td>
                            <td class="govuk-table__cell govuk-table__header--numeric"><strong class="govuk-tag govuk-tag--grey">Not started</strong></td>
                        </tr>
                         <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><a href="">Complete review</a></th>
                             <td class="govuk-table__cell">Becky Morton</td>
                            <td class="govuk-table__cell govuk-table__header--numeric"><strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong></td>
                        </tr>
                         <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><a href="">Submit review</a></th>
                             <td class="govuk-table__cell">Becky Morton</td>
                            <td class="govuk-table__cell govuk-table__header--numeric"><strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong></td>
                        </tr>
                         <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><a href="">Accept review</a></th>
                             <td class="govuk-table__cell">James Gunn</td>
                            <td class="govuk-table__cell govuk-table__header--numeric"><strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    {% endblock %}