{% extends "layouts/main.html" %}

{% block pageTitle %}
Is {{data['dd']}} the senior responsible Officer (SRO)? – {{serviceName}} –  Book and manage a discovery peer review
{% endblock %}

{% set pageSection = "Book"%}

{% block beforeContent %}

    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
            <span class="govuk-phase-banner__text">
      This is a prototype – it is not a real service.
    </span>
        </p>
    </div>

    <a href="/book/dd" class="govuk-back-link">Back</a>

    {% endblock%}

    {% block content %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

               {% if err or errcode%}

                    <div class="govuk-error-summary" data-module="govuk-error-summary">
                        <div role="alert">
                            <h2 class="govuk-error-summary__title">There is a problem</h2>
                            <div class="govuk-error-summary__body">
                                <ul class="govuk-list govuk-error-summary__list">
                                    {% if err %}
                                    <li>
                                        <a href="#code">Select if the deputy director is also the senior responsible officer</a>
                                    </li>
                                    {%elseif errcode%}
                                      <li>
                                        <a href="#code_">Select name</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>

                {% endif %}

                <form action="/book/sro" method="post">

  <div class="govuk-form-group {%if err%}govuk-form-group--error{% endif%}">
            <fieldset class="govuk-fieldset" aria-describedby="sro-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
       Is {{data['dd']}} also the senior responsible officer (SRO)? 
      </h1>
              </legend>
              <div id="sro-hint" class="govuk-hint">
      Select one option.
    </div>{%if err%}
                            <p id="event-name-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span>Select if the deputy director is also the senior responsible officer
  </p>{% endif%}
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="sro" name="sro" type="radio" value="Yes" data-aria-controls="conditional-sro" {{ checked('sro','Yes') }}>
                  <label class="govuk-label govuk-radios__label" for="sro">
          Yes
        </label>
                </div>
           
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="sro-2" name="sro" type="radio" value="No" data-aria-controls="conditional-sro-2"  {{ checked('sro','No') }}>
                  <label class="govuk-label govuk-radios__label" for="sro-2">
          No
        </label>
                </div>
                     <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-sro-2">

                  <div class="govuk-form-group {%if errcode%}govuk-form-group--error{% endif%}">
                       
                            <label class="govuk-label" for="sro-name">
      Name of the SRO
    </label>
                       
 {%if errcode%}
                            <p id="event-name-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span>Select a name
  </p>{% endif%}
                         <select class="govuk-select govuk-!-width-one-half auto" id="sro-name" name="sro-name">
{% include "_names.html" %}
                        </select>
                    </div>

                </div>

              </div>
            </fieldset>
          </div>

                    <button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
                </form>

            </div>
        </div>

    {% endblock %}


        {% block scripts %}
  {{ super() }}
  
  <script>
            accessibleAutocomplete.enhanceSelectElement({defaultValue: '{{ data["sro-name"] }}', selectElement: document.querySelector('.auto')})
        </script>
{% endblock %}