<strong class="govuk-tag {% if not entry.fields.ProjectCode %}govuk-tag--red{% endif%}">{% if entry.fields.ProjectCode %}IT{{entry.fields.ProjectCode}}{% else %}No project code{% endif%}</strong> 
<strong class="govuk-tag govuk-tag--grey">Discovery Peer Review</strong>
<h1 class="govuk-heading-l govuk-!-margin-top-2">{{entry.fields.Name}}</h1>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
      Description of discovery
    </span>
            </summary>
            <div class="govuk-details__text">
                <p class="formatted-content">{{entry.fields.Description}}</p>
            </div>
        </details>
    </div>
</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter">
        <p class="govuk-body">
            <span class="govuk-!-font-weight-bold">Booked by</span><br/>{{entry.fields.RequestedBy}}</p>
    </div>
    <div class="govuk-grid-column-one-quarter">
        <p class="govuk-body">
            <span class="govuk-!-font-weight-bold">Review date</span><br/>
            {% if entry.fields.ReviewDate %}{{entry.fields.ReviewDate | date('D MMMM YYYY')}} at {{entry.fields.ReviewTime}}{% else%}No date set{%endif%}</p>
        </div>
        <div class="govuk-grid-column-one-quarter">
            <p class="govuk-body">
                <span class="govuk-!-font-weight-bold">Status</span><br/>
                {% if entry.fields.Status === "New"%}
                    <strong class="govuk-tag govuk-tag--blue">{{entry.fields.Status}}</strong>
                {% elseif entry.fields.Status === "Pre-Review" %}
                    <strong class="govuk-tag govuk-tag--purple">{{entry.fields.Status}}</strong>
                 {% elseif entry.fields.Status === "Review" %}
                    <strong class="govuk-tag govuk-tag--pink">{{entry.fields.Status}}</strong>
                     {% elseif entry.fields.Status === "SAT Check" %}
                    <strong class="govuk-tag govuk-tag--yellow">{{entry.fields.Status}}</strong>
                      {% elseif entry.fields.Status === "Complete" %}
                    <strong class="govuk-tag govuk-tag--green">{{entry.fields.Status}}</strong>
                    {% endif%}

                </p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p class="govuk-body">
                    <span class="govuk-!-font-weight-bold">Outcome</span><br/>
                    {% if entry.fields.Status === "Complete"%}
                    <strong class="govuk-tag govuk-tag--{{entry.fields.Outcome | lower}}">{{entry.fields.Outcome}}</strong>
                      {% elseif entry.fields.Status === "SAT Check" %}
                    <strong class="govuk-tag govuk-tag--yellow">Pending</strong>
                    {% else%}
                    <strong class="govuk-tag govuk-tag--grey">Review not complete</strong>
                    {% endif %}
                </p>
            </div>
        </div>

        <hr class="govuk-section-break govuk-!-margin-bottom-5 govuk-section-break--visible">