<h2 class="govuk-heading-l">Provide available dates and times</h2>

<p>The team have selected the following weeks as suitable for their peer review:</p>

{% set weeks = entry.fields.RequestedWeeks | split(",")%}
<ul class="govuk-list govuk-list--bullet">
    {% for item in weeks %}
        <li>week beginning {{ item }}</li>
    {% endfor %}
</ul>


<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Dates</h2>
        <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
                <a class="govuk-link" href="/admin/entry/amend/add-date-option/{{entry.fields.ID}}/{{entry.id}}">
          Add date option
                </a>
            </li>
        </ul>
    </div>
    <div class="govuk-summary-card__content">
        {% if not dates.length %}

            <p>No available dates have been added.</p>

        {% else %}

            <dl class="govuk-summary-list">

                {% for datex in dates %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{{datex.fields.Date | date('ddd D MMMM YYYY')}}</dt>
                        <dd class="govuk-summary-list__value">
                            {{datex.fields.Time}}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/admin/entry/amend/remove-date-option/{{entry.fields.ID}}/{{datex.id}}">Remove<span class="govuk-visually-hidden">
                                   {{datex.fields.Date | date('ddd D MMMM YYYY')}} {{datex.fields.Time}}</span></a>
                        </dd>
                    </div>
                {% endfor %}

            </dl>
            {% endif%}
        </div>
    </div>
</div>