<h2 class="govuk-heading-l">Peer review</h2>


{% if(entry.fields.Status === "New" or entry.fields.Status === "Pre-Review")%}


  <p>This section can only be completed by the peer review panel once the entry is in the "Review" status.</p>

{% endif %}




{% if entry.fields.Status === "Review"%}

<div class="govuk-summary-card" id="outcome">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Panel outcome</h2>
           {% if(entry.fields.Status === "Review") %}
        <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
                <a class="govuk-link" href="/admin/entry/editoutcome/{{entry.fields.ID}}/#outcome">
          Edit<span class="govuk-visually-hidden"> outcome</span>
                </a>
            </li>
        </ul>
         {% endif%}
    </div>
    <div class="govuk-summary-card__content">
        {% if entry.fields.Outcome%}
            <p>The panel have given an outcome of <strong class="dfeuk-tag dfeuk-tag--{{entry.fields.Outcome | lower}}">{{entry.fields.Outcome}}</strong>
            </p>
            {% else%}
            <p>The panel has not selected an outcome.</p>
            {% endif%}
        </div>
    </div>

    <div class="govuk-summary-card" id="comments">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Panel comments</h2>
            {% if(entry.fields.Status === "Review") %}
            <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                    <a class="govuk-link" href="/admin/entry/editcomments/{{entry.fields.ID}}/#comments">
          Edit<span class="govuk-visually-hidden"> summary</span>
                    </a>
                </li>
            </ul>
            {% endif %}
        </div>
        <div class="govuk-summary-card__content formatted-content">
            {% if entry.fields.ReviewComments !== "\n"%}
                <p>{{entry.fields.ReviewComments}}</p>
             
                {% else%}
                <p>The panel has not entered any comments.</p>
                {% endif%}
            </div>
        </div>

        <div class="govuk-summary-card" id="done-well">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">What the team has done well</h2>
                   {% if(entry.fields.Status === "Review") %}
                   <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                        <a class="govuk-link" href="/admin/entry/editdonewell/{{entry.fields.ID}}/#comments">
          Edit<span class="govuk-visually-hidden"> summary</span>
                        </a>
                    </li>
                </ul>
                {% endif%}
            </div>
            <div class="govuk-summary-card__content  formatted-content">
                {% if entry.fields.ReviewDoneWell %}
                    <p>{{entry.fields.ReviewDoneWell}}</p>
                    {% else%}
                    <p>The panel has not entered any comments.</p>
                    {% endif%}
                </div>
            </div>

            <div class="govuk-summary-card" id="improve">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">What the team can improve</h2>
                      {% if(entry.fields.Status === "Review") %}
                    <ul class="govuk-summary-card__actions">
                        <li class="govuk-summary-card__action">
                           <a class="govuk-link" href="/admin/entry/editimprove/{{entry.fields.ID}}/#comments">
          Edit<span class="govuk-visually-hidden"> summary</span>
                            </a>
                        </li>
                    </ul>
                    {% endif%}
                </div>
                <div class="govuk-summary-card__content  formatted-content">
                    {% if entry.fields.ReviewImprove %}
                        <p>{{entry.fields.ReviewImprove}}</p>
                        {% else%}
                        <p>The panel has not entered any comments.</p>
                        {% endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endif %}