<h2 class="govuk-heading-l govuk-!-margin-bottom-5">Submission</h2>

<p>Wade Wilson submitted this request on {{entry.fields.Created|date('D MMMM YYYY [at] HH:mm') }}.</p>

{% if entry.fields.Status === "New" %}
    <div class="govuk-inset-text">
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
      Guidance on accepting and rejecting a request
    </span>
            </summary>
            <div class="govuk-details__text">
                <p>If you accept the request now, you can still update details of the submission later on.</p>
                <p>Accepting the request means tasks can start to be actioned in the request by administrators and the discovery team.</p>
                <p>If you reject it, you'll need to provide a reason before rejecting in the next step. </p>
            </div>
        </details>
        <form action="/admin/action/process/{{entry.fields.ID}}/{{entry.id}}" method="post">
            <div class="govuk-button-group">
                <button class="govuk-button"  name="action" value="accept" data-module="govuk-button">Accept request</button>
                <button  name="action" value="reject_reason" class="govuk-button govuk-button--warning"  data-module="govuk-button">Reject request</button>
            </div>
        </form>
    </div>
{% endif %}

<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Project code</dt>
        <dd class="govuk-summary-list__value">{{entry.fields.ProjectCode}}</dd>
        <dd class="govuk-summary-list__actions">
            {% if entry.fields.Status !== "Complete" and entry.fields.Status !== "Cancelled" and entry.fields.Status !== "Rejected" %}
                <a class="govuk-link" href="/admin/entry/amend/code/{{entry.fields.ID}}/{{entry.id}}">Change<span class="govuk-visually-hidden"> code</span></a>{% endif%}
            </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Start date</dt>
            <dd class="govuk-summary-list__value">
                {% if entry.fields.StartDate %}{{entry.fields.StartDate | date('D MMMM YYYY')}}
                {% else %}No start date{% endif%}</dd>
                <dd class="govuk-summary-list__actions">
                    {% if entry.fields.Status !== "Complete" and entry.fields.Status !== "Cancelled" and entry.fields.Status !== "Rejected" %}
                        <a class="govuk-link" href="/admin/entry/amend/start-date/{{entry.fields.ID}}/{{entry.id}}">Change<span class="govuk-visually-hidden"> start date of discovery</span></a>{% endif%}
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Planned end date</dt>
                    <dd class="govuk-summary-list__value">
                        {% if entry.fields.EndDate %}{{entry.fields.EndDate | date('D MMMM YYYY')}}
                        {% else %}No end date{% endif%}</dd>
                        <dd class="govuk-summary-list__actions">
                            {% if entry.fields.Status !== "Complete" and entry.fields.Status !== "Cancelled" and entry.fields.Status !== "Rejected" %}
                                <a class="govuk-link" href="/admin/entry/amend/end-date/{{entry.fields.ID}}/{{entry.id}}">Change<span class="govuk-visually-hidden"> end date of discovery</span></a>{% endif%}
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Requested week(s) beginning<br/></dt>
                            <dd class="govuk-summary-list__value">

                                {% set weeks = entry.fields.RequestedWeeks | split(",")%}
                                <ul class="govuk-list">
                                    {% for item in weeks %}
                                        <li>{{ item }}</li>
                                    {% endfor %}
                                </ul>
                            </dd>
                            <dd class="govuk-summary-list__actions"></dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Portfolio or arms length body</dt>
                            <dd class="govuk-summary-list__value">
                                {% if entry.fields.Portfolio %}{{entry.fields.Portfolio}}
                                {% else %}No portfolio{% endif%}</dd>
                                <dd class="govuk-summary-list__actions">
                                    {% if entry.fields.Status !== "Complete" and entry.fields.Status !== "Cancelled" and entry.fields.Status !== "Rejected" %}
                                        <a class="govuk-link" href="/admin/entry/amend/portfolio/{{entry.fields.ID}}/{{entry.id}}">Change<span class="govuk-visually-hidden"> portfolio or arms length body of team doing the discovery</span></a>{% endif%}
                                    </dd>
                                </div>

                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Deputy director</dt>
                                    <dd class="govuk-summary-list__value">
                                        {% if entry.fields.SROSameAsDD === "Yes" %}{{entry.fields.DeputyDirector}}
                                        {% else %}{{entry.fields.SROName}}{% endif%}</dd>
                                        <dd class="govuk-summary-list__actions">
                                            {% if entry.fields.Status !== "Complete" and entry.fields.Status !== "Cancelled" and entry.fields.Status !== "Rejected" %}
                                                <a class="govuk-link" href="/admin/entry/amend/dd/{{entry.fields.ID}}/{{entry.id}}">Change<span class="govuk-visually-hidden"> deputy director</span></a>{% endif%}
                                            </dd>
                                        </div>
                                        <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">Senior responsible officer</dt>
                                            <dd class="govuk-summary-list__value">
                                                {% if entry.fields.SROName %}{{entry.fields.SROName}}
                                                {% else %}No senior responsible officer{% endif%}</dd>
                                                <dd class="govuk-summary-list__actions">
                                                    {% if entry.fields.Status !== "Complete" and entry.fields.Status !== "Cancelled" and entry.fields.Status !== "Rejected" %}
                                                        <a class="govuk-link" href="/admin/entry/amend/sro/{{entry.fields.ID}}/{{entry.id}}">Change<span class="govuk-visually-hidden"> SRO</span></a>{% endif%}
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row">
                                                    <dt class="govuk-summary-list__key">Business partner</dt>
                                                    <dd class="govuk-summary-list__value">
                                                        {% if entry.fields.BusinessPartnerYN === "Yes" or entry.fields.BusinessPartnerName %}{{entry.fields.BusinessPartnerName}}
                                                        {% else %}No business partner{% endif%}</dd>
                                                        <dd class="govuk-summary-list__actions">
                                                            {% if entry.fields.Status !== "Complete" and entry.fields.Status !== "Cancelled" and entry.fields.Status !== "Rejected" %}
                                                                <a class="govuk-link" href="/admin/entry/amend/bp/{{entry.fields.ID}}/{{entry.id}}">Change<span class="govuk-visually-hidden"> business partner</span></a>{% endif%}
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">Delivery manager</dt>
                                                            <dd class="govuk-summary-list__value">
                                                                {% if entry.fields.DeliveryManagerYN === "Yes" or entry.fields.DeliveryManagerName %}{{entry.fields.DeliveryManagerName}}
                                                                {% else %}No delivery manager{% endif%}</dd>
                                                                <dd class="govuk-summary-list__actions">
                                                                    {% if entry.fields.Status !== "Complete" and entry.fields.Status !== "Cancelled" and entry.fields.Status !== "Rejected" %}
                                                                        <a class="govuk-link" href="/admin/entry/amend/delivery/{{entry.fields.ID}}/{{entry.id}}">Change<span class="govuk-visually-hidden"> delivery manager</span></a>{% endif%}
                                                                    </dd>
                                                                </div>
                                                                <div class="govuk-summary-list__row">
                                                                    <dt class="govuk-summary-list__key">Product owner or manager</dt>
                                                                    <dd class="govuk-summary-list__value">
                                                                        {% if entry.fields.ProductManagerYN === "Yes" or entry.fields.ProductManagerName %}{{entry.fields.ProductManagerName}}
                                                                        {% else %}No product manager{% endif%}</dd>
                                                                        <dd class="govuk-summary-list__actions">
                                                                            {% if entry.fields.Status !== "Complete" and entry.fields.Status !== "Cancelled" and entry.fields.Status !== "Rejected" %}
                                                                                <a class="govuk-link" href="/admin/entry/amend/product/{{entry.fields.ID}}/{{entry.id}}">Change<span class="govuk-visually-hidden"> product manager</span></a>{% endif%}
                                                                            </dd>
                                                                        </div>
                                                                    </dl>