{% extends "layouts/main.html" %}

{% block pageTitle %}
Search results – {{serviceName}} –  Book and manage a discovery peer review
{% endblock %}

{% set pageSection = "Overview"%}

{% block beforeContent %}

  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
      <span class="govuk-phase-banner__text">
      This is a prototype – it is not a real service.
    </span>
    </p>
  </div>

  {% endblock%}

  {% block content %}

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">{{results.length}} result{% if results.length !== 1 %}s{%endif%} for the term "{{term}}"</h2>

          <ul class="dfeuk-document-list">
            {% for record in results %}

              <li class="dfeuk-document-list__item dfeuk-document-list--no-underline ">
                <a href="/report/{{record.fields.ID}}" class="dfeuk-document-list__item-title ">{{record.fields.Name}}</a>

                <p class="dfeuk-document-list__item-description ">Discovery peer review report for {{record.fields.Name}}</p>
                <ul class="dfeuk-document-list__item-metadata">
  <li class="gdfeuk-document-list__attribute">
                    Project code: {{record.fields.ProjectCode}}
                  </li>
                 
                  <li class="gdfeuk-document-list__attribute">
                    Stage: Discovery
</li>
                  <li class="gdfeuk-document-list__attribute">
                    Type: Peer review
</li> <li class="gdfeuk-document-list__attribute">
                    Status: <strong class="govuk-tag govuk-tag--{{record.fields.Status | lower}}">{{record.fields.Status}}</strong>
                  </li>
                
                </ul>
              </li>

            {% endfor %}
          </ul>

        </div>

      </div>

    {% endblock %}