{% extends "layouts/main.html" %}

{% block pageTitle %}
admin – {{serviceName}} –  Book and admin a discovery peer review
{% endblock %}

{% set pageSection = "Admin"%}

{% block beforeContent %}

    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
            <span class="govuk-phase-banner__text">
      This is a prototype – it is not a real service.
    </span>
        </p>
    </div>

    {% endblock%}

    {% block content %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "./partials/_header.html" %}
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
               {% include "./_nav.html" %}
        </div>
        <div class="govuk-grid-column-three-quarters">

            {% include "./partials/_" + view + ".html" %}

        </div>
    </div>

{% endblock %}